<nav class="navbar navbar-expand-md bg-light">
    <div class="container">
        <!-- Logo and company name -->
        <a class="navbar-brand d-flex align-items-center" href="/index.html" style="height: 49px;">
            <img src="/img/navbar/logo.png" style="height: 30px;"
                alt="Bienseguro Grupo Asesor Logo">
        </a>
        <!-- Toggler button -->
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about.html">Nosotros</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Seguros
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/seguros/autos.html">
                                <i class="bi bi-car-front-fill text-primary me-1"></i>
                                Automotrices
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/seguros/gastos-medicos.html">
                                <i class="bi bi-capsule text-primary me-1"></i>
                                Gastos Médicos
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/seguros/hogar.html">
                                <i class="bi bi-house-fill text-primary me-1"></i>
                                Hogar
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/seguros/vida-accidentes.html">
                                <i class="bi bi-heart-fill text-primary me-1"></i>
                                Vida | Accidentes
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/seguros/viaje.html">
                                <i class="bi bi-airplane-fill text-primary me-1"></i>
                                Viaje
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/seguros/empresariales.html">
                                <i class="bi bi-buildings-fill text-primary me-1"></i>
                                Empresariales
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/seguros/transporte.html">
                                <i class="bi bi-box-seam-fill text-primary me-1"></i>
                                Transporte
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/seguros/responsabilidad-civil.html">
                                <i class="bi bi-person-check-fill text-primary me-1"></i>
                                Responsabilidad Civil
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fianzas.html">Fianzas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact.html">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq.html">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold text-primary" href="/cotizador.html">
                        Auto Cotizador
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>