<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container">
        <!-- Logo and company name -->
        <a class="navbar-brand" href="/index.html">
            <img src="/img/logo.png" alt="Bienseguro Grupo Asesor Logo" style="height: 30px;">
        </a>
        <!-- Toggler button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about.html">Quiénes Somos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Seguros
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/seguros/autos.html">Automotrices</a></li>
                        <li><a class="dropdown-item" href="/seguros/gastosmedicos.html">Gastos Médicos</a></li>
                        <li><a class="dropdown-item" href="/seguros/hogar.html">Hogar</a></li>
                        <li><a class="dropdown-item" href="/seguros/vidaaccidentes.html">Vida y Accidentes</a></li>
                        <li><a class="dropdown-item" href="/seguros/empresarial.html">Empresarial</a></li>
                        <li><a class="dropdown-item" href="/seguros/transporte.html">Transporte</a></li>
                        <li><a class="dropdown-item" href="/seguros/contratistas.html">Equipo de Contratistas</a></li>
                        <li><a class="dropdown-item" href="/seguros/rescivil.html">Responsabilidad Civil</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fianzas.html">Fianzas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact.html">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq.html">Preguntas Frecuentes</a>
                </li>
            </ul>
        </div>
    </div>
</nav>